@model PurchaseOrderViewModel
@{
    var action = ViewContext.RouteData.Values["action"]!.ToString()!.Capitalize();
    ViewData["Title"] = $"| {action} Asset";
}

<h1>@action Asset</h1>

<form asp-action="@action" method="post">
    <input type="hidden" asp-for="PurchaseOrder.PurchaseOrderId" />
    
    <input type="hidden" name="Operation" value="@action" />

    @if(action.EqualsNoCase("delete"))
    {
        <h5>Are you sure you want to delte this Purchase Order? </h5>
        <p><strong>Order Number: </strong>@Model.PurchaseOrder.OrderNumber</p>
        <p><strong>Note : </strong>@Model.PurchaseOrder.Notes</p>
    }
    else
    {
        <div class="row mb-2">
            <label asp-for="PurchaseOrder.OrderNumber" class="col-form-label col-md-2">Order Number:</label>
            <div class="col-md-4">
                <input asp-for="PurchaseOrder.OrderNumber" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="PurchaseOrder.OrderNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2">
            <label asp-for="PurchaseOrder.PurchaseDate" class="col-form-label col-md-2">Purchase Date:</label>
            <div class="col-md-4">
                <input asp-for="PurchaseOrder.PurchaseDate" class="form-control" type="date" />
            </div>
            <div class="col">
                <span asp-validation-for="PurchaseOrder.PurchaseDate" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2">
            <label asp-for="PurchaseOrder.ReceivedDate" class="col-form-label col-md-2">Received Date:</label>
            <div class="col-md-4">
                <input asp-for="PurchaseOrder.ReceivedDate" class="form-control" type="date" />
            </div>
        </div>

        <div class="row mb-2">
            <label asp-for="PurchaseOrder.Status" class="col-form-label col-md-2">Status:</label>
            <div class="col-md-4">
                <select asp-for="PurchaseOrder.Status" class="form-select">
                    <option value="Pending">Pending</option>
                    <option value="Completed">Completed</option>
                    <option value="Cancelled">Cancelled</option>
                </select>
            </div>
            <div class="col">
                <span asp-validation-for="PurchaseOrder.Status" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2">
            <label asp-for="PurchaseOrder.SupplierId" class="col-form-label col-md-2">Supplier:</label>

            <div class="col-md-4">
                <select asp-for="PurchaseOrder.SupplierId" class="form-select"
                        asp-items='@new SelectList(Model.Suppliers, "SupplierId", "SupplierName", Model.PurchaseOrder.SupplierId)'>
                    <option value="">Select Supplier</option>
                </select>
            </div>
        </div>

        <div class="row mb-2">
            <label asp-for="PurchaseOrder.Notes" class="col-form-label col-md-2">Order Notes:</label>
            <div class="col-md-4">
                <textarea asp-for="PurchaseOrder.Notes" class="form-control"></textarea>
            </div>
            <div class="col">
                <span asp-validation-for="PurchaseOrder.Notes" class="text-danger"></span>
            </div>
        </div>

    }
    <div class="row">
        <div class="@(action.EqualsNoCase("delete") ? "mt-2" : "offset-md-2")">
            <button type="submit" class="btn btn-primary">@action</button>
            <a asp-action="Index" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>